<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mobilestore">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileStore"
        tools:targetApi="31">

        <!-- Login Activity (Main Entry Point) -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".ui.register.RegisterActivity"
            android:parentActivityName=".ui.login.LoginActivity" />

        <!-- Admin Activities -->
        <activity
            android:name=".ui.admin_report.ReportActivity" />

        <activity
            android:name=".ui.admin_customer_bill.CustomerBillActivity" />

        <activity
            android:name=".ui.admin_storage.StorageActivity" />

        <activity
            android:name=".ui.admin_product.ProductActivity" />


        <!-- Customer Activities -->
        <activity
            android:name=".ui.shopping.ShoppingActivity" />

        <activity
            android:name=".ui.product_detail.ProductActivity"
            android:parentActivityName=".ui.shopping.ShoppingActivity" />

        <activity
            android:name=".ui.payment.PaymentActivity"
            android:parentActivityName=".ui.product_detail.ProductActivity" />

        <activity
            android:name=".ui.customer_profile.ProfileActivity"
            android:parentActivityName=".ui.shopping.ShoppingActivity" />

    </application>

</manifest>